<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Bindings</title>
</head>

<body>
  <div id="app">
    <!-- <input :value="text" @input="onInput" placeholder="값을 입력하세요"> -->
    <input v-model="text" placeholder="값을 입력하세요">
    <span>{{text}}</span>
    <input type="checkbox" id="checkbox" v-model="checked" />
    <label for="checkbox">{{ checked }}</label>
  </div>
  <script type="module">
    import { createApp, ref } from '../js/vue.esm-browser.js'
    createApp({
      setup() {
        const checked = ref(false)
        const text = ref('sample')
        return {
          text,
          checked
        }
      }
    }).mount('#app')
  </script>
</body>

</html>